nav {    
    height: 3rem;
    background-color: $maincolor;
    margin-bottom: .2em;

    ul {
        text-align: center;

        li {          
            display: inline-block;

            .borger {
                display: none;
            }

            a {
                padding: 0.9rem 4rem;
                line-height: 3rem;
                text-decoration: none;
                background-color: $maincolor;
                color: $primary;
                &:hover {
                    background-color: $primary;
                    color: $secondary;
                }
            }
        }
    }
}